server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: employee-service
              uri: http://localhost:8082
              predicates:
                - Path=/employees/**

            - id: attendance-service
              uri: http://localhost:8083
              predicates:
                - Path=/attendance/**
